.appbar_container {
    display: flex;
    align-items: center;
    height: 56px;
}

.site_title {
    font-size: 20px;
    width: 87px;
}
.appbar_menu {
    height: 24px;
    width: 24px;
}
.appbar_search {
    height: 24px;
}
.appbar_user {
    height: 24px;

}

/* Removes button styling on icons */
.menu_button,
.search_button, 
.user_button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}