.gifGridContainer {
    display: grid;
    grid-template-columns: 1fr;
}

.gifGridItem {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .gifGridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .gifGridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .gifGridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}